<h1>Ask Stupid Coaching</h1>
<div class="d-flex justify-content-center mt-5">
  <form action="/answer" method = "get" data-turbo="false" class="form">
    <input type="text" name="question" placeholder="insert question here..." class="answer-box">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
